.team-div {
    display: grid;
    padding-top: 80px;
    padding-bottom: 30px;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    margin: 0 auto;
    grid-row-gap: 55px;
    grid-column-gap: 40px;
}

.team-icon {
    font-size: 30px;
    transition: .4s ease-out;
}

.team-link{
    color: #39c7dd;
    margin-right: 35px;
}

.team-link:hover .team-icon{
    color: #FBE555;
}


.team-link:visited {
    color: #39c7dd;
}

.member-div {
    display: flex;
    flex-direction: column;
}

.prof-pic-holder {
    display: flex;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.prof-pic {
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.team-title {
    background: linear-gradient(to right, #ff7809, rgb(238, 255, 1));
    font-size: 30px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background-clip: text;
    color: transparent;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(239, 200, 11);
    letter-spacing: 3px;
}

.link-div {
    display: flex;
    justify-content: center;  
}

.member-main {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    color: rgb(199, 195, 195);
}

.member-info {
    display: flex;
    width: 50%;
    flex-direction: column;
}

.member-name {
    font-size: 20px;
    margin-bottom: 10px;
}

.member-desc {
    line-height: 1.3;
}