.filtered-recipe-index,
.recipe-index {
  margin: 0 auto;
  padding: 50px;
}

.recipe-index-container, .filtered-recipe-index-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 20px;
}

.recipe-index-item-container{
    background: #202020;
    border-radius: 15px;
    padding: 20px 20px 10px 20px;
    transition: .3s;
}

.recipe-index-item-container:hover {
    transform: scale(1.02);
}

.recipe-index-item-container:hover p{
    color: #fbe555;
}

.recipe-index-item-inner-container {
    width: 100%;
}

.recipe-index-item-container a {
    text-decoration: none;
    color: rgb(199, 195, 195);
    text-align: center;
}

.recipe-index-item img{
    border-radius: 10px;
    width: 100%;
}

.recipe-index-item p {
    font-size: 18px;
    padding-top: 15px;
}

.recipe-show-container {
    background-color: #202020;
    width: 700px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.recipe-show-container img {
    border-radius: 20px;
    width: 550px;
    margin: 0 auto;
    margin-top: 50px;
}

.recipe-show-container h2 {
    padding: 50px 20px 0 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
    color: rgb(199, 195, 195);
}

.recipe-show-sourceName {
    text-align: center;
    padding-top: 15px;
    color: #B0AEAE;
}

.source-like-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recipe-source {
    text-decoration: none;
    color: #39c7dd;
    font-size: 14px;
    position: relative;
}

.recipe-source::after{
    width: 0%;
    background: #39c7dd;
    height: 1px;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    transition: .4s;
}

.recipe-source:hover::after {
    width: 100%;
}

.no-results-found {
    text-align: center;
    padding-top: 40px;
    font-size: 20px;
    color: rgb(199, 195, 195);
}

.recipe-show-content{
    width: 550px;
    margin: 0 auto;
}

.ingredients-header{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 10px 0px;
    color: rgb(199, 195, 195);
}

.directions-header{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 30px 0 10px 0;
    color: rgb(199, 195, 195);
}

.recipe-show-content ul, ol{
    padding-left: 30px;
}

.ingredients-list li,
.directions-list li{
    padding: 5px 0;
    line-height: 1.5;
    color: #B0AEAE;
}

.comments-container {
    width: 650px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* https://www.w3schools.com/cssref/css3_pr_animation-timing-function.asp */
.background-loader {
  background: #101010;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.loader {
  border: 15px solid #3f3f40;
  border-top: 15px solid #fbe555;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  animation: spinner 2s linear infinite;
  margin-top: 20px;
}

@keyframes spinner{
  from {
    transform: rotate(0deg);
  }
  
  to {
    transform: rotate(360deg);
  }
}

.loading {
    padding-top: 25px;
    font-size: 14px;
    color: rgb(199, 195, 195);
}