.favoritesUl {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: auto;
  align-items: center;
  margin-top: 20px;
}

.favoritesUl a {
  background: #202020;
  padding: 30px;
  width: 100%;
  text-align: center;
  color: rgb(199, 195, 195);
  margin: 10px;
  text-decoration: none;
  background: linear-gradient(to left, #202020 50%, darkgray 100%, gray 100%);
  background-size: 200% 100%;
  background-position:right bottom;
}

.favoritesUl a:hover {
  background-position: left bottom;
  transition:all 2s ease;
  color: rgb(252, 223, 40)
}

.favoritesDiv {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.favoritesDiv > p{
  color:rgb(199, 195, 195);
  font-size: 20px;
}