.likes-info-container{
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

.likes-counter {
    color: #B0AEAE;
    font-size: 12px;
    padding: 10px 0;
}

.likes-column{
    display: flex;
    flex-direction: column;
}

.likes-button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.outline-heart{
    color: rgb(252, 223, 40);
    font-size: 20px;
}

.filled-in-heart{
    color: rgb(252, 223, 40);
    font-size: 20px;
}